# .env Dev server/
# Fichier de configuration patron

# Base de données
# Azure
DATABASE = ""
USERNAME = ""
PASSWORD = ""
HOST = ""
PORT = ""

# SQLite
#HOST = "localhost"
#PORT = "3306"

# ML data
DATASET_DIR = ""
PREPROCESSED_DIR = ""
WEIGHT_BEST_PATH = ""
